**Задание 1**<br />
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [21]:
import pandas as pd

In [22]:
ratings = pd.read_csv('ml-25m/ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [48]:
ratings.groupby(['movieId']).rating.agg(['max', 'count']).sort_values('count', ascending=False).head(1)

         max  count
movieId
356      5.0  81491

**Задание 2**<br />
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [90]:
data = pd.read_csv('power.csv')
data.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [137]:
data[
  (
    (data["country"] == "Latvia") | (data["country"] == "Lithuania") | (data["country"] == "Estonia")
  ) 
    & 
  (
    (2005 <= data['year']) | (data['year'] >= 2010)
  ) 
    & 
  (
    (data['category'] == 4) | (data['category'] == 12) | (data['category'] == 21)
  )
    & 
  (
    (data['quantity'] > 0)  
  )
   ].sum()

408195.0

**Задание 3**<br />
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [131]:
df = pd.read_html('https://www.finanz.ru/valyuty/v-realnom-vremeni', encoding='utf-8')

In [134]:
df[1]

,Unnamed: 0,Рубль,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
0,NaN,GBP/RUB,866252,-,870574,"-0,50 %",-04323,15:48:00
1,NaN,EUR/RUB,773790,-,783925,"-1,29 %",-10135,15:47:00
2,NaN,USD/RUB,684293,-,691371,"-1,02 %",-07078,15:47:00
3,NaN,JPY/RUB,06244,-,06336,"-1,45 %",-00092,15:48:00
4,NaN,CNY/RUB,96504,-,97235,"-0,75 %",-00731,15:47:00
5,NaN,CHF/RUB,711913,-,723949,"-1,66 %",-12036,15:47:00
6,NaN,Евро,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
7,NaN,EUR/USD,11307,-,11336,"-0,25 %",-00029,15:47:00
8,NaN,EUR/GBP,08930,-,09002,"-0,80 %",-00072,15:47:00
9,NaN,EUR/JPY,1239185,-,1236900,"0,18 %",02285,15:47:00
10,NaN,EUR/CHF,10871,-,10827,"0,41 %",00045,15:47:00
11,NaN,Доллар США,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
12,NaN,USD/EUR,08843,-,08821,"0,25 %",00022,15:47:00
13,NaN,USD/GBP,07900,-,07942,"-0,52 %",-00041,15:47:00
14,NaN,USD/JPY,1095975,-,1091100,"0,45 %",04875,15:47:00
15,NaN,USD/CHF,09614,-,09551,"0,65 %",00062,15:47:00
16,NaN,Японская иена,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
17,NaN,JPY/EUR (100:1),08100,-,08100,"-0,17 %",00000,15:48:00
18,NaN,JPY/GBP,00072,-,00073,"-0,96 %",-00001,15:48:00
19,NaN,JPY/USD,00091,-,00092,"-0,44 %",00000,15:47:00
20,NaN,JPY/CHF (100:1),08800,-,08800,"0,22 %",00000,15:47:00
21,NaN,Фунт стерлингов,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
22,NaN,GBP/USD,12661,-,12591,"0,56 %",00070,15:47:00
23,NaN,GBP/JPY,1387203,-,1373951,"0,96 %",13252,15:48:00
24,NaN,GBP/EUR,11198,-,11107,"0,81 %",00091,15:47:00
25,NaN,GBP/CHF,12173,-,12027,"1,21 %",00146,15:47:00
26,NaN,Швейцарский франк,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
27,NaN,GBP/CHF,12173,-,12027,"1,21 %",00146,15:47:00
28,NaN,EUR/CHF,10871,-,10827,"0,41 %",00045,15:47:00
29,NaN,JPY/CHF (100:1),08800,-,08800,"0,22 %",00000,15:47:00
30,NaN,USD/CHF,09614,-,09551,"0,65 %",00062,15:47:00
31,NaN,Украинская гривна,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
32,NaN,EUR/UAH,300853,-,301558,"-0,23 %",-00706,15:41:00
33,NaN,USD/UAH,265900,-,00000,"0,00 %",00000,15:47:00
34,NaN,CHF/UAH,276633,-,278545,"-0,69 %",-01912,15:47:00
35,NaN,GBP/UAH,336576,-,334952,"0,48 %",01624,15:47:00