# Библиотека Pandas
Когда и зачем использовать

Режим презентации jupyter nbconvert my_script.ipynb --to slides --post serve

https://medium.com/@mjspeck/presenting-code-using-jupyter-notebook-slides-a8a3c3b59d67

In [ ]:
# запуск презентации
!jupyter nbconvert Python_10_pandas_presentation_mode.ipynb --to slides --post serve

In [1]:
!"C:/Users/computer/AppData/Roaming/jupyter" nbconvert Python_10_pandas_presentation_mode.ipynb --to slides --post serve

""C:/Users/computer/AppData/Roaming/jupyter"" ­Ґ пў«пҐвбп ў­гваҐ­­Ґ© Ё«Ё ў­Ґи­Ґ©
Є®¬ ­¤®©, ЁбЇ®«­пҐ¬®© Їа®Ја ¬¬®© Ё«Ё Ї ЄҐв­л¬ д ©«®¬.

In [3]:
import pandas as pd

In [4]:
# https://grouplens.org/datasets/movielens/

ratings = pd.read_csv('ml-latest/ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1      307     3.5  1256677221
1       1      481     3.5  1256677456
2       1     1091     1.5  1256677471
3       1     1257     4.5  1256677460
4       1     1449     4.5  1256677264

In [5]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27753444 entries, 0 to 27753443
Data columns (total 4 columns):
userId       int64
movieId      int64
rating       float64
timestamp    int64
dtypes: float64(1), int64(3)
memory usage: 847.0 MB

In [5]:
# сколько фильмов в коллекции
len(ratings.movieId.unique())

53889

In [13]:
%%time

# топ пользователей по количеству оценок
ratings.groupby('userId').count().sort_values('movieId', ascending=False).head()

Wall time: 3.72 s

        movieId  rating  timestamp
userId
123100    23715   23715      23715
117490     9279    9279       9279
134596     8381    8381       8381
212343     7884    7884       7884
242683     7515    7515       7515

# Lifetime

In [6]:
ratings_grouped = ratings.groupby('userId').agg([min, max])
ratings_grouped.head()

       movieId        rating        timestamp
           min    max    min  max         min         max
userId
1          307   3893    1.5  4.5  1256677210  1256677500
2          170   3363    3.0  4.5  1192913533  1192913611
3          640   3171    2.0  5.0   945141407   945141611
4            1  56367    0.5  5.0  1113765602  1204592934
5           47  56782    2.0  5.0  1209039308  1209126093

In [7]:
ratings_grouped['diff'] = ratings_grouped['timestamp']['max'] - ratings_grouped['timestamp']['min']
ratings_grouped.head()

       movieId        rating        timestamp                  diff
           min    max    min  max         min         max
userId
1          307   3893    1.5  4.5  1256677210  1256677500       290
2          170   3363    3.0  4.5  1192913533  1192913611        78
3          640   3171    2.0  5.0   945141407   945141611       204
4            1  56367    0.5  5.0  1113765602  1204592934  90827332
5           47  56782    2.0  5.0  1209039308  1209126093     86785

In [8]:
ratings_grouped['diff'].mean() / 24 / 3600

126.22761148027357

In [8]:
%%time

ratings = pd.read_csv('ml-latest/ratings.csv')
ratings_grouped = ratings.groupby('userId').agg([min, max])
ratings_grouped['diff'] = ratings_grouped['timestamp']['max'] - ratings_grouped['timestamp']['min']

ratings_grouped['diff'].mean() / 24 / 3600

Wall time: 26.1 s

133.49238859514406

# JOIN как в SQL

In [9]:
movies = pd.read_csv('ml-latest/movies.csv')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [11]:
joined = ratings.merge(movies, on='movieId', how='left')
joined.head()

,userId,movieId,rating,timestamp,title,genres
0,1,110,1.0,1425941529,Braveheart (1995),Action|Drama|War
1,1,147,4.5,1425942435,"Basketball Diaries, The (1995)",Drama
2,1,858,5.0,1425941523,"Godfather, The (1972)",Crime|Drama
3,1,1221,5.0,1425941546,"Godfather: Part II, The (1974)",Crime|Drama
4,1,1246,5.0,1425941556,Dead Poets Society (1989),Drama